/* peterspaper.solutions */

/* RESET CSS */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } 
 /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } 
 body { line-height: 1; } 
 ol, ul { list-style: none; } 
 blockquote, q { quotes: none; } 
 blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } 
 table { border-collapse: collapse; border-spacing: 0; } 

/* --------- */

body {
    font-family: "Work Sans", sans-serif;  
}

header { margin: 0; padding: 0; height: 5rem;margin-top: 4px; align-items: center; display: flex;padding-bottom: 0.2rem;}

a { text-decoration: none; }

.int-header {margin: 0 auto;width: 90%;}

header, .int-header{position: relative;}

.logo {
    background-image: url(../img/logo-pps.svg);background-size: contain;background-repeat: no-repeat;width: 7rem;height: 4.8rem;position: absolute;left: 1.4rem;
}
nav {
    margin: 0 auto;align-items: center;display: flex;justify-content: center;
}
nav a, nav label, .int-header {
    font-size: 1.2rem;color: #173E00;font-weight: 700;border: 2px solid transparent; border-radius: .6rem;line-height: 0.1rem;padding: 1rem;box-sizing: border-box;line-height: 0.1rem;text-align: center; margin-right: 1rem;height:3.2rem;display: grid;align-content: center;
    }

.int-header input[type="checkbox"], nav input[type="checkbox"] {appearance: none;border:none;padding: 0; margin:0;}

.lang-cont {
    position: absolute;right: 1rem;
}
.langContent {
    display: none; padding: 1rem;
}
.flag {
    cursor: pointer;user-select: none;float: left;padding: 0.5rem;background-color: transparent;background-size:cover;background-position: center; background-repeat: no-repeat;width: 1.3rem;height: .5rem;margin: 0.2rem; border-radius: 3.5px;border: transparent;
}
.es {background-image: url(../img/es.svg);}
.en {background-image: url(../img/gb.svg);}
.pt {background-image: url(../img/pt.svg);}


.sub {display: none;position: absolute;top: 3rem;width: 85%;background-color: #FFFFFF;justify-content: space-evenly;border: 2.3px solid #173E00;border-radius: 7px;transition: display 0.5s;padding: .2rem;box-sizing: border-box;}
.sub div {box-sizing:border-box;}
.openLangs {display: none;}
input[type="checkbox"].open-menu {display: none;background-image: url(../img/menu.svg);background-repeat: no-repeat;position: absolute;background-size: contain;width: 3rem; height: 1.9rem; right: 3px;}
.item-menu {align-items: center;}
a.item-tecnologies, label.item-tecnologies {background-image: url(../img/arrow-u.svg);background-repeat: no-repeat;background-position: 96% 50%; background-size: 1rem;}

label.item-tecnologies {display: none;}

.item-services .item-tecno .item-about .item-contact:hover {border-color: #173E00;}
.stand-out {border: 2px solid #173E00;border-radius: 3.5px;line-height: 0.1rem;padding: 1rem;}


.menu-services:hover {display: block;}
.item-services:hover { text-decoration: none;}

a.item-services:hover + .menu-services { display: block; }
input[type="checkbox"]:checked ~ .menu-tecnologies { display: block; }
input[type="checkbox"]:checked + nav { display: block; }
input[type="checkbox"]:checked ~ .lang-cont { display: flex; }
input[type="checkbox"].open-menu:checked { background-image: url(../img/close.svg);}
input[type="checkbox"]:checked + .sub { display: block; }
nav a:hover, nav label:hover, .int-header input[type="checkbox"]:hover, nav input[type="checkbox"]:hover {
    background-color: #173E00;color: hsl(50, 85%, 66%);
}

a.item-tecnologies:hover {background-color: #173E00;color: #F2DA5E;background-image: url(../img/arrow.svg)}
a.item-tecnologies:hover ~ .menu-tecnologies {display: block;}
.sub:hover ~ .item-tecnologies {background-color: #173E00;color: #F2DA5E;background-image: url(../img/arrow.svg)}
.sub:hover {display: block;}

.group-items>a {display: block;padding: 1em;border:none;text-align: left;width: 30%;text-transform: uppercase;font-size: 1rem;margin:0;border:transparent;border-radius: 5px;text-wrap: wrap;line-height: 1.2rem;height:4.5rem;position: relative;display: grid;align-content: center;}

.group-items>div {width: 70%;position: absolute;right: 0;top:0;display: none;padding: 1rem;height: 100%;}
.group-items a:hover {background-color: #173E00;background-image: url(../img/arrows.svg);background-position: 96% 50%;background-repeat: no-repeat;color:#F2DA5E;background-size:6.3%;border:none;text-decoration: none;}
.group-items a:hover ~ div {display: block;box-sizing: border-box;}
.group-items div:hover {display: block;}


@media screen and (max-width: 1100px) {
    nav a, nav label { font-size: .9rem; padding: 1rem; }
    .flag {width: 1rem; height: .4rem;}
    .logo {width: 5.5rem; height: 4rem;}
    .int-header {width: 100%;box-sizing: border-box;}
    .lang-cont {right:.2rem;box-sizing: border-box;}
    .group-items>a{font-size: .8rem;height: 3rem;}
  }
@media screen and (max-width: 765px) {
    header {width: 100%;top:0;box-sizing: border-box;}
    header, nav{ display: inline-block; text-align: right; right: 0;box-sizing: border-box;}
    .logo {z-index: 2;position: absolute;}
    .int-header {width: 100%;margin: 0;border-radius:0; position: absolute;display: block;height: 100vh;z-index: 1;padding: 0;}
    header, .int-header, nav, .lang-cont {background-color: #FFFFFF;}

    .int-header input[type="checkbox"]:hover {background-color: transparent;}
    a.item-tecnologies {display: none;}
    label.item-tecnologies {display: block;}
    .int-header>input[type="checkbox"].open-menu {top: .5rem;display: block;width: 2.8rem;height: 3rem;}
    nav {display: none;margin-top:4.5rem;}
    nav>a, nav>label {display: block;text-align: left;text-transform: uppercase;font-size: 1rem;border-radius: 0px;border-bottom: 1px solid #cdcdcd;padding: 1.4rem;margin-right: 0px;}
    .sub {border-radius: 0;top: 0rem;background-color: transparent;margin-right: 0;position: relative;border:none;display: none;width: 100%;padding:0;}

    .group-items {width:100%;box-sizing: border-box;}
    .group-items>a, .group-items>label {width: 30%;border-bottom: 1px dotted #cdcdcd;border-left:3px solid #173E00;}
    .group-items>a, .group-items>label, .group-items>a span {display: block;position: relative;padding:.3rem;text-align: left;font-size: .8rem;height: auto;border-radius: 0;line-height: normal;min-height: 2rem;text-transform: capitalize;}
    .group-items a:hover {background-image: none;}
    .group-items>div {text-align: left;min-height: 300px;background-color: aqua;}
    .group-view {width: 100%;display: none;position: relative;text-align: left;}

    .lang-cont {display: none;position: relative;bottom: 0;top:1rem;justify-content: center;align-items: center;}
    .flag {width: 2.1rem; height: 1rem;}
}